
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.left-side {
  background-color: #787878;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 170px;
  height: 170px;
}

.app-name {
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}

.right-side {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  padding: 20px;
}

.header-form {
  margin-top: 50px;
  margin-left: 50px;

}

.universitas-name{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.login-form {
  margin-left: 50px;
  max-width: 700px;
  margin-top: 40px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group label[for="password"] {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
.form-group label[for="NIM"] {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
.form-group label[for="email"] {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.form-group input[type="text"]{
  width: 50%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

.form-group input[type="email"]{
  width: 50%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

.form-group input[type="password"] {
  width: 50%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}


.form-group input[type="submit"] {
  width: 54%;
  padding: 12px;
  background-color: #1111ff;
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 30px;
}

/* Responsiveness for small screens */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left-side, .right-side {
    flex: 1;
  }
  .form-group input[type="text"]{
  width: 80%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}
.form-group input[type="email"]{
  width: 80%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

.form-group input[type="password"] {
  width: 80%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}


.form-group input[type="submit"] {
  width: 84%;
  padding: 12px;
  background-color: #1111ff;
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 30px;
}
}

/* Responsiveness for extra small screens */
@media screen and (max-width: 400px) {
  .container {
    flex-direction: row;
  }

  .left-side, .right-side {
    flex: none;
    width: 100%;
  }

  .left-side {
    height: 200px;
  }

  .right-side {
    padding-top: 20px;
  }
}


.login-form label[for="daftar"]{
  font-weight: lighter;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  margin-left: 40px;
}

.login-form a{
  margin-left: 10px;
}
